<html><head><link href="http://www.xframium.org/output/assets/css/prism.css" rel="stylesheet"><script src="http://www.xframium.org/output/assets/js/prism.js"></script></script></head><body><pre class"line-numbers"><code class="language-markup">
&lt;hierarchy&gt;
  &lt;android.widget.FrameLayout bounds="[0,0][1440,2960]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"&gt;
    &lt;android.widget.ImageView bounds="[0,0][1440,2960]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.ImageView" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"/&gt;
    &lt;android.widget.LinearLayout bounds="[0,0][1440,2792]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.LinearLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"&gt;
      &lt;android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="1"&gt;
        &lt;android.widget.LinearLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.LinearLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="com.santander.globile.archetypeandroid:id/action_bar_root" checkable="false" clickable="false" text="" content-desc="" instance="1"&gt;
          &lt;android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="android:id/content" checkable="false" clickable="false" text="" content-desc="" instance="2"&gt;
            &lt;android.view.ViewGroup bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.ViewGroup" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"&gt;
              &lt;android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="com.santander.globile.archetypeandroid:id/fragment_content" checkable="false" clickable="false" text="" content-desc="" instance="3"&gt;
                &lt;android.widget.RelativeLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.RelativeLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"&gt;
                  &lt;android.webkit.WebView bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.webkit.WebView" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"&gt;
                    &lt;android.webkit.WebView text="SuperMobile" bounds="[0,84][1445,2794]" index="0" focusable="true" long-clickable="false" scrollable="true" focused="true" checked="false" class="android.webkit.WebView" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="1"/&gt;
                  &lt;/android.webkit.WebView&gt;
                &lt;/android.widget.RelativeLayout&gt;
              &lt;/android.widget.FrameLayout&gt;
            &lt;/android.view.ViewGroup&gt;
          &lt;/android.widget.FrameLayout&gt;
        &lt;/android.widget.LinearLayout&gt;
      &lt;/android.widget.FrameLayout&gt;
    &lt;/android.widget.LinearLayout&gt;
  &lt;/android.widget.FrameLayout&gt;
&lt;/hierarchy&gt;
</code></pre></body></html>