<!DOCTYPE html>
<html ng-app="xImage">
<head>
<script src="../../assets/angular.js"></script>
<script src="../../assets/angular-animate.js"></script>
<script src="../../assets/angular-sanitize.js"></script>
<script src="../../assets/ui-bootstrap-tpls-2.js"></script>
<script src="../../assets/angular-ui-tree.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="../../assets/toolkit-inverse.css" rel="stylesheet">
<link href="../../assets/application.css" rel="stylesheet">
<link href="../../assets/angular-ui-tree.css" rel="stylesheet">
</head>
<body ng-controller="xTimingController" data-ng-init="initialize()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form ng-submit="xQuery()">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2" ng-if="elementList.length == 1">
                            <span class="text-success glyphicon glyphicon-ok"></span>
                        </span>
                        <span class="input-group-addon" id="basic-addon2" ng-if="elementList.length == 0">
                            <span class="text-danger glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon" id="basic-addon2" ng-if="elementList.length > 1">
                            <span class="text-warning glyphicon glyphicon-warning-sign"></span>
                        </span>
                        <input type="text" class="form-control" placefolder="xPath Query" ng-model="xpath" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="xQuery()">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div data-drag-enabled="false" ui-tree id="tree-root" class="scrollable panel-body">
                    <ol style="cursor: default" ui-tree-nodes ng-model="elementList">
                        <li ui-tree-node style="cursor: default" ng-repeat="rootNode in elementList" collapsed="true">
                            <div style="cursor: default" ui-tree-handle class="tree-node tree-node-content">
                                <a style="cursor: default" ng-click="toggle(this)" ng-if="rootNode.childNodes.length != 0">
                                    <span class="glyphicon text-default" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }" style="margin-right: 3px; font-size: x-small;"></span>
                                </a>
                                <a ng-click="selectElement( rootNode )">
                                    <span>{{rootNode.name}}</span>
                                </a>
                            </div>
                            <ol ui-tree-nodes ng-model="elementList" ng-class="{hidden: collapsed}">
                                <li ui-tree-node ng-repeat="n in rootNode.childNodes" ng-include="'node.html'" collapsed="false"></li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="a in selectedElement.attributes">
                        <b>{{a.name}}</b>
                        : {{a.value}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <iframe src="dom-1451847092536319064.html" frameborder="0" height="480" width="100%"></iframe>
            </div>
        </div>
    </div>
</body>
<script type="text/ng-template" id="node.html">
    <div data-nodrag ui-tree-handle  class="tree-node tree-node-content" style=cursor: default" style="text-overflow: ellipsis">
        <a ng-if="n.childNodes.length != 0" data-nodrag ng-click="toggle(this)" style="cursor: default" >
            <span ng-if="n.childNodes.length != 0" class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }" style="cursor: default"></span>
        </a>
        <span data-nodrag ng-if="n.childNodes.length == 0" style="margin-left: 15px" style="cursor: default"></span>
        <a ng-click="selectElement( n )" style="cursor: default"><span>{{n.name}}</span></a>
 
    </div>
    <ol data-nodrag ui-tree-nodes="" ng-model="n.childNodes" ng-if="n.childNodes.length != 0" ng-class="{hidden: collapsed}"  style="cursor: default">
        <li data-nodrag ui-tree-node ng-repeat="n in n.childNodes" ng-include="'node.html'"  style="cursor: default"></li>
    </ol>
</script>
<script>
    var xGrid = angular.module('xImage', [ 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ui.tree' ]);

    xGrid.controller('xTimingController', function XImageController( $scope )
    {
        $scope.testData = ' <hierarchy>   <android.widget.FrameLayout bounds="[0,0][1440,2960]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0">     <android.widget.LinearLayout bounds="[0,0][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.LinearLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0">       <android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="1">         <android.widget.LinearLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.LinearLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="com.santander.globile.archetypeandroid:id/action_bar_root" checkable="false" clickable="false" text="" content-desc="" instance="1">           <android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="android:id/content" checkable="false" clickable="false" text="" content-desc="" instance="2">             <android.view.ViewGroup bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.ViewGroup" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0">               <android.widget.FrameLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.FrameLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="com.santander.globile.archetypeandroid:id/fragment_content" checkable="false" clickable="false" text="" content-desc="" instance="3">                 <android.widget.RelativeLayout bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.RelativeLayout" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0">                   <android.webkit.WebView bounds="[0,84][1440,2792]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.webkit.WebView" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0">                     <android.webkit.WebView text="SuperMobile" bounds="[0,84][1445,2794]" index="0" focusable="true" long-clickable="false" scrollable="true" focused="false" checked="false" class="android.webkit.WebView" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="1">                       <android.view.View bounds="[0,84][1445,2794]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="0">                         <android.view.View bounds="[0,84][1445,2551]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="1">                           <android.view.View bounds="[0,84][1445,521]" index="4" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="2">                             <android.view.View text="Nuevo contacto" bounds="[0,84][367,465]" index="0" focusable="true" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="3"/>                             <android.view.View text="Transferir dinero" bounds="[364,84][735,465]" index="1" focusable="true" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="4"/>                             <android.view.View bounds="[731,84][1099,465]" index="2" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="5">                               <android.view.View text="Pagar servicios" bounds="[759,84][1071,465]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="6">                                 <android.view.View bounds="[759,84][1071,465]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="icon" checkable="false" clickable="true" text="" content-desc="" instance="7">                                   <android.view.View text="?" bounds="[850,84][980,269]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="8"/>                                   <android.view.View bounds="[801,84][1029,280]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="9"/>                                   <android.view.View text="Pagar servicios" bounds="[773,301][1057,465]" index="2" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="10"/>                                 </android.view.View>                               </android.view.View>                             </android.view.View>                             <android.view.View text="Pagar tarjeta" bounds="[1095,84][1445,465]" index="3" focusable="true" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="11"/>                           </android.view.View>                           <android.view.View text="Contactos y Servicios" bounds="[0,518][1445,773]" index="5" focusable="true" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="12"/>                           <android.view.View text="Consulta de Aclaraciones" bounds="[0,770][1445,1025]" index="6" focusable="true" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="13"/>                           <android.view.View text="?" bounds="[84,1106][234,1225]" index="7" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="14"/>                           <android.view.View text="Super Token" bounds="[231,1123][595,1204]" index="8" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="15"/>                           <android.view.View text="Info. no disponible" bounds="[819,1123][1361,1204]" index="9" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="16"/>                           <android.view.View text="?" bounds="[84,1358][234,1477]" index="10" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="17"/>                           <android.view.View text="Sucursales y Cajeros" bounds="[231,1375][819,1456]" index="11" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="18"/>                           <android.view.View text="?" bounds="[1263,1358][1361,1477]" index="12" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="19"/>                           <android.view.View text="?" bounds="[84,1631][234,1750]" index="13" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="20"/>                           <android.view.View text="Apariencia" bounds="[231,1652][539,1732]" index="14" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="21"/>                           <android.view.View bounds="[1340,1610][1361,1774]" index="15" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="22">                             <android.view.View bounds="[1344,1631][1358,1750]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="23">                               <android.view.View text="Light" bounds="[969,1652][1148,1729]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="24"/>                               <android.view.View text="Dark" bounds="[1162,1652][1319,1729]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" content-desc="" instance="25"/>                             </android.view.View>                           </android.view.View>                           <android.view.View bounds="[0,1778][1445,2033]" index="16" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="26">                             <android.view.View text="?" bounds="[84,1862][234,1981]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="27"/>                             <android.view.View text="Cerrar Sesi&#38;#38;#243;n" bounds="[231,1879][623,1960]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="28"/>                           </android.view.View>                           <android.view.View text="nsw-develop PRE" bounds="[140,2114][630,2191]" index="18" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="29"/>                           <android.view.View bounds="[0,2271][1445,2523]" index="20" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="30"/>                         </android.view.View>                         <android.view.View bounds="[0,2548][1445,2794]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="31">                           <android.view.View bounds="[0,2548][1445,2794]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="32">                             <android.view.View bounds="[63,2548][294,2794]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="33">                               <android.view.View text="?" bounds="[126,2600][238,2702]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="34"/>                               <android.view.View text="Mi vida" bounds="[119,2698][238,2754]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="35"/>                             </android.view.View>                             <android.view.View bounds="[427,2548][658,2794]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="36">                               <android.view.View text="?" bounds="[483,2600][595,2702]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="37"/>                               <android.view.View text="Transferencias" bounds="[423,2698][658,2754]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="38"/>                             </android.view.View>                             <android.view.View bounds="[784,2548][1015,2794]" index="2" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="39">                               <android.view.View text="?" bounds="[840,2600][962,2702]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="40"/>                               <android.view.View text="Productos" bounds="[819,2698][983,2754]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="41"/>                             </android.view.View>                             <android.view.View bounds="[1148,2548][1379,2794]" index="3" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="42">                               <android.view.View bounds="[1211,2600][1312,2702]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="43">                                 <android.widget.Image bounds="[1211,2607][1312,2709]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.Image" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="0"/>                               </android.view.View>                               <android.view.View text="M&#38;#38;#225;s" bounds="[1225,2698][1298,2754]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="44"/>                             </android.view.View>                           </android.view.View>                         </android.view.View>                       </android.view.View>                       <android.view.View bounds="[0,84][1445,2794]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="45">                         <android.view.View bounds="[0,84][1445,2794]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="46"/>                         <android.view.View bounds="[0,84][1445,2794]" index="2" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="true" resource-id="" text="" content-desc="" instance="47"/>                         <android.view.View bounds="[0,84][1445,2794]" index="3" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="48">                           <android.view.View bounds="[210,1141][1232,1736]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="cdk-overlay-2" checkable="false" clickable="false" text="" content-desc="" instance="49">                             <android.view.View bounds="[210,1141][1232,1736]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="50">                               <android.view.View bounds="[210,1141][1232,1568]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" resource-id="loader" checkable="false" clickable="false" text="" content-desc="" instance="51">                                 <android.view.View bounds="[210,966][1232,1743]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="52">                                   <android.view.View bounds="[549,1197][661,1309]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="53">                                     <android.view.View bounds="[549,1197][661,1309]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="54"/>                                   </android.view.View>                                   <android.view.View bounds="[665,1298][777,1410]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="55">                                     <android.view.View bounds="[665,1298][777,1410]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="56"/>                                   </android.view.View>                                   <android.view.View bounds="[665,1298][777,1410]" index="2" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="57">                                     <android.view.View bounds="[665,1298][777,1410]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="58"/>                                   </android.view.View>                                   <android.view.View bounds="[665,1298][777,1410]" index="3" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="59">                                     <android.view.View bounds="[665,1298][777,1410]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="60"/>                                   </android.view.View>                                   <android.view.View bounds="[644,1277][798,1431]" index="4" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="61">                                     <android.view.View bounds="[644,1277][798,1431]" index="0" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.view.View" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="62"/>                                   </android.view.View>                                   <android.widget.Image text="logo" bounds="[679,1309][763,1393]" index="5" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.Image" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" content-desc="" instance="1"/>                                 </android.view.View>                                 <android.widget.Image bounds="[210,1141][1267,1673]" index="1" focusable="false" long-clickable="false" scrollable="false" focused="false" checked="false" class="android.widget.Image" selected="false" password="false" package="com.santander.globile.archetypeandroid" enabled="true" checkable="false" clickable="false" resource-id="" text="" content-desc="" instance="2"/>                               </android.view.View>                             </android.view.View>                           </android.view.View>                         </android.view.View>                       </android.view.View>                     </android.webkit.WebView>                   </android.webkit.WebView>                 </android.widget.RelativeLayout>               </android.widget.FrameLayout>             </android.view.ViewGroup>           </android.widget.FrameLayout>         </android.widget.LinearLayout>       </android.widget.FrameLayout>     </android.widget.LinearLayout>   </android.widget.FrameLayout> </hierarchy> ';
        $scope.xmlDoc = new DOMParser().parseFromString($scope.testData, "text/xml");
        $scope.xpath = '';
        $scope.elementList = null;
        $scope.selectedElement = [];

        $scope.selectElement = function( e )
        {
            $scope.selectedElement = e;
        }

        $scope.xQuery = function()
        {
            var queryResult = $scope.xmlDoc.evaluate($scope.xpath, $scope.xmlDoc, null, XPathResult.ANY_TYPE, null);
            var currentResult = queryResult.iterateNext();
            var counter = 0;
            $scope.elementList = [];
            while ( currentResult ) {
                console.log($scope.addTo(currentResult));
                $scope.elementList.push($scope.addTo(currentResult));

                currentResult = queryResult.iterateNext();
            }
        }

        $scope.addTo = function( currentNode )
        {
            var currentElement = {};
            currentElement.name = currentNode.nodeName;
            currentElement.attributes = [];
            currentElement.childNodes = [];
            if ( currentNode.attributes != null ) {
                for ( var i = 0; i < currentNode.attributes.length; i++ ) {
                    currentElement.attributes.push({
                        "name" : currentNode.attributes[i].nodeName,
                        "value" : currentNode.attributes[i].nodeValue
                    });
                }
            }

            if ( currentNode.childNodes != null ) {
                for ( var i = 0; i < currentNode.childNodes.length; i++ ) {
                    if ( currentNode.childNodes[i].nodeType == 1 ) {
                        currentElement.childNodes.push($scope.addTo(currentNode.childNodes[i]));
                    }
                }
            }

            return currentElement;

        }
    });
</script>
</html>
