<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0669d">  <td>20/10/22 10:00:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractSeleniumTest.beforeMethod(java.lang.reflect.Method, [Ljava.lang.Object;, org.testng.ITestContext)[pri:0, instance:org.xframium.driver.XMLTestDriver@1f89680]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>PoolService-0@31247445</td>   <td></td> </tr>
<tr bgcolor="ad88ac">  <td>20/10/22 10:00:14</td>   <td>7629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XMLTestDriver.testDriver(org.xframium.device.ng.TestContainer)[pri:0, instance:org.xframium.driver.XMLTestDriver@1f89680]">testDriver</td> 
  <td>PoolService-0@31247445</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>20/10/22 10:00:14</td>   <td>7647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractSeleniumTest.afterMethod(java.lang.reflect.Method, [Ljava.lang.Object;, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:org.xframium.driver.XMLTestDriver@1f89680]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>xF-resumenTDCAndroid-->Galaxy S8+ Android@31247445</td>   <td></td> </tr>
<tr bgcolor="ad88ac">  <td>20/10/22 10:00:14</td>   <td>8002</td> <td title="&lt;&lt;XMLTestDriver.afterSuite(org.testng.ITestContext)[pri:0, instance:org.xframium.driver.XMLTestDriver@1f89680]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3797790</td>   <td></td> </tr>
</table>
